<div class="row">
    <div class="col-md-12">
        <p>Your Location: {{vm.formattedAddress}}</p>
   </div>
</div>
<div class="row map-controls">
    <div class="col-md-12">
        <label>
            Enter an Address:
            <input type="text" ng-model="vm.address" ng-model-options="{debounce: 1000}" ng-change="vm.runAddressSearch()" >
        </label>
        <label>
            Select a Location Type:
            <select ng-model="vm.locationType" ng-model-options="{debounce: 1000}">
                <option value="all">All</option>
                <option value="branches">Branches</option>
                <option value="specialists">Specialists</option>
                <option value="treatments">Treatments</option>
                <option value="information_points">Information Points</option>
                <option value="support_groups">Support Groups</option>
                <option value="information_events">Information Events</option>
                <option value="fundraising_events">Fundraising Events</option>
                <option value="financial_aid">Financial Aid</option>
                <option value="branch_events">Branch Events</option>
            </select>
        </label>
        <label>
            Show distance in miles?
            <input type="checkbox" ng-model="vm.shouldShowDistanceInMiles">
        </label>
        <label>
            Show closest groups only?
            <input type="checkbox" ng-model="vm.shouldShowClosestOnly">
        </label>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="map-container">
        <google-maps-visualisation
            val="vm.markers"
            home-location="vm.homeLocation"
            location-type="vm.locationType"
            should-show-distance-in-miles="vm.shouldShowDistanceInMiles"
            should-show-closest-only="vm.shouldShowClosestOnly"
        ></google-maps-visualisation>
      </div>
   </div>
</div>
