<div class="row">
    <div class="col-md-12">
        <p>Your Location: {{vm.formattedAddress}}</p>
   </div>
</div>
<div class="row map-controls">
    <div class="col-md-3">
        <form class="map-main-controls">
            <div class="form-group">
                <label for="address-field">Address:</label>
                <input id="address-field" type="text" ng-model="vm.address" ng-model-options="{debounce: 1000}" ng-change="vm.runAddressSearch()" >
            </div>
            <div class="form-group">
                <label for="location-field">Location Type:</label>
                <select id="location-field" ng-model="vm.locationType" ng-model-options="{debounce: 1000}">
                    <option value="all">All</option>
                    <option value="branches">Branches</option>
                    <option value="specialists">Specialists</option>
                    <option value="treatments">Treatments</option>
                    <option value="information_points">Information Points</option>
                    <option value="support_groups">Support Groups</option>
                    <option value="information_events">Information Events</option>
                    <option value="fundraising_events">Fundraising Events</option>
                    <option value="branch_events">Branch Events</option>
                </select>
            </div>
            <div class="form-group">
                <label for="units-field">Units:</label>
                <select id="units-field" ng-model="vm.unitType" ng-change="vm.shouldShowDistanceInMiles = vm.unitType === 'miles'">
                    <option value="kilometres">kilometres</option>
                    <option value="miles">miles</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="map-secondary-controls">
            <div class="form-group">
                <input id="closest-field" type="checkbox" ng-model="vm.shouldShowClosestOnly">
                <label for="closest-field">Show closest groups only?</label>
            </div>
            <div class="form-group">
                <input id="show-markers-field" type="checkbox" ng-model="vm.shouldShowMarkers">
                <label for="show-markers-field">Show markers?</label>
            </div>
            <div class="form-group">
                <input id="show-coverage-field" type="checkbox" ng-model="vm.shouldShowCoverage">
                <label for="show-coverage-field">Show coverage?</label>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="map-secondary-controls">
            <div class="form-group">
                <input type="checkbox" ng-model="vm.driving" ng-change="vm.updateTravelMethodToDriving()">
                <label>Driving</label>
            </div>
            <div class="form-group">
                <input type="checkbox" ng-model="vm.walking" ng-change="vm.updateTravelMethodToWalking()">
                <label>Walking</label>
            </div>
            <div class="form-group">
                <input type="checkbox" ng-model="vm.transit" ng-change="vm.updateTravelMethodToTransit()">
                <label>Public Transport</label>
            </div>
        </form>
    </div>
    <div class="col-md-12">
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="map-container">
        <google-maps-visualisation
            val="vm.markers"
            home-location="vm.homeLocation"
            location-type="vm.locationType"
            should-show-distance-in-miles="vm.shouldShowDistanceInMiles"
            should-show-closest-only="vm.shouldShowClosestOnly"
            should-show-markers="vm.shouldShowMarkers"
            should-show-coverage="vm.shouldShowCoverage"
            travel-method="vm.travelMethod"
        ></google-maps-visualisation>
      </div>
   </div>
</div>
